{% extends 'chat/base.html' %}

{% load static %}

{% block title %}Block detail{% endblock %}

{% block content %}
    <div class="list-content">
        <div>
            {% for user in users %}
                <p><a href="{% url 'block_private' user.id %}" id="usersLink" data-user-id="{{ user.id }}"><h2>{{ user }}</h2></a></p>
            {% endfor %}
        </div>
    </div>
{% endblock %}

{{ private.user.id|json_script:"userId" }}
    <script src="{% static 'js/privateblock.js' %}"></script>