{% extends 'chat/base.html' %}

{% load static %}

{% block title %}Sign Up{% endblock %}

{% block content %}
    <div class="formContainer">
        <form action="" method="post">
            {% csrf_token %}
    
            <label for="">{{ form.username.label }}</label>
            {{ form.username }}
            {{ form.username.errors }}
    
            <label for="">{{ form.email.label }}</label>
            {{ form.email }}
            {{ form.email.errors }}
    
            <label for="">{{ form.password1.label }}</label>
            {{ form.password1 }}
            {{ form.password1.errors }}
    
            <label for="">{{ form.password2.label }}</label>
            {{ form.password2 }}
            {{ form.password2.errors }}
            <small>{{ form.password2.help_text }}</small>
    
    
        </form>
    </div>
    

{% endblock %}